*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fff;
}

ul {
  list-style: none;
}

img {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  max-width: 100%;
  height: auto;
}

/* ------------------------------------------------------------ *	Universal Typography

	\* ------------------------------------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 6.5rem;
  color: #fff;
  text-shadow: 8px 2px black;
}

.name-span {
  color: orange;
}

h2 {
  font-size: 3rem;
  letter-spacing: 3px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 8px 2px black;
}
}

h3 {
  font-size: 2rem;
  font-style: italic;
  color: #fff;
  font-weight: 100;
  letter-spacing: 2px;
}

h4 {
  font-size: 3.5rem;
}

h5 {
  font-size: 3rem;
}

h6 {
  font-size: 25px;
  text-transform: capitalize;
  font-weight: bolder;
}

/*Header logo + navbar*/
.header {
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 20px;
}

.header .close-trigger,
.header .menu-trigger {
  display: none;
  width: 42px;
  height: 22px;
}

/*For Mobile Nav Trigger*/
@media (max-width: 767px) {
  .header {
    /*Navbar container*/
    /* When the navbar on mobile is clicked*/
  }

  .header .close-trigger,
  .header .menu-trigger {
    display: block;
  }

  .header .header-content {
    position: fixed;
    z-index: -1;
    overflow: hidden;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all .1s ease .5s;
  }

  .header .header-content:after, .header .header-content:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: -webkit-transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.45s cubic-bezier(0.694, 0.048, 0.335, 1);
    will-change: transform;
  }

  .header .header-content:before {
    transition-delay: .25s;
    background-color: #f06449;
    background: linear-gradient(270deg, #f06449, #ee2828);
    z-index: 24;
  }

  .header .header-content:after {
    transition-delay: .15s;
    background-color: #1c1d25;
    background: linear-gradient(270deg, #235aa6, #101b3b);
    z-index: 25;
  }

  .header .header-content .nav {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 15%;
    width: 70%;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: opacity 0.3s ease, -webkit-transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: opacity 0.3s ease, transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: opacity 0.3s ease, transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition-delay: 0s;
    z-index: 26;
  }

  .header .header-content .nav ul {
    display: block;
  }

  .header .header-content .nav li+li {
    margin-left: 0;
  }

  .header .header-content .nav a {
    display: inline-block;
    color: #fff;
    font-size: 1.6875em;
    padding: 12px 25px;
  }

  .header .header-content .nav a:hover:before, .header .header-content .nav a:hover:after {
    display: none !important;
  }

  .header .header-content .close-trigger {
    position: absolute;
    top: 60px;
    right: 20px;
    display: block;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0;
    transition: opacity 0.25s ease 0s, -webkit-transform 0.35s cubic-bezier(0.694, 0.048, 0.335, 1) 0s;
    transition: opacity 0.25s ease 0s, transform 0.35s cubic-bezier(0.694, 0.048, 0.335, 1) 0s;
    transition: opacity 0.25s ease 0s, transform 0.35s cubic-bezier(0.694, 0.048, 0.335, 1) 0s, -webkit-transform 0.35s cubic-bezier(0.694, 0.048, 0.335, 1) 0s;
    z-index: 46;
  }

  .header .header-content.active {
    visibility: visible;
    opacity: 1;
    transition-delay: .1s;
    z-index: 45;
  }

  .header .header-content.active:after, .header .header-content.active:before {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .header .header-content.active:before {
    transition-delay: 0s;
  }

  .header .header-content.active:after {
    transition-delay: .15s;
  }

  .header .header-content.active .nav {
    opacity: 1;
    transition-delay: .4s;
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
  }

  .header .header-content.active .close-trigger {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    transition-delay: .52s;
  }
}

/* ------------------------------------------------------------ *    CLose Trigger Bar

\* ------------------------------------------------------------ */
/* Closing the mobile nav*/
.close-trigger-bar {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #e3d8d3;
  position: relative;
}

.close-trigger-bar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 100%;
  background-color: #fff;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.close-trigger-bar.left {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.close-trigger-bar.right {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
}

/* ------------------------------------------------------------ *    Menu Trigger Bar

\* ------------------------------------------------------------ */
/*Mobile Only*/
.menu-trigger-bar {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #dbdce4;
  margin-bottom: 6px;
  position: relative;
}

.menu-trigger-bar:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 0;
  height: 100%;
  background-color: #235aa6;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
}

.menu-trigger-bar.middle {
  width: 85%;
  margin-left: 15%;
}

.menu-trigger-bar.middle:before {
  left: auto;
  right: 0;
}

.menu-trigger-bar.bottom {
  width: 60%;
  margin-left: 40%;
}

/*Navbar on header*/
.nav {
  font-size: 18px;
  color: #b0b2cb;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav ul li+li {
  margin-left: 40px;
}

.nav ul .link {
  position: relative;
  display: block;
  padding-bottom: 5px;
  color: inherit;
  font-weight: inherit;
  font-weight: 600;
  transition: color .3s;
  letter-spacing: 0.01em;
  /*Styling the bb-effect on hover*/
}

.nav ul .link:hover {
  color: #fff;
}

.nav ul .link:hover:before, .nav ul .link:hover:after {
  width: 100%;
  left: 0;
}

.nav ul .link:before, .nav ul .link:after {
  content: '';
  position: absolute;
  left: auto;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 0;
}

.nav ul .link:before {
  background: #235aa6;
  transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
  z-index: 1;
}

.nav ul .link:after {
  background: #f25757;
  transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1);
  z-index: 2;
}

/*Cover Video and Text Wrapper*/
.cover {
  position: relative;
  padding-top: 130px;
  overflow: hidden;
  font-size: 20px;
  color: #fff;
  font-style: italic;
}

.cover .cover-inner {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: calc(600px - 130px);
    height: calc(100vh - 130px);
  }

  .cover .cover-title {
    margin-bottom: 20px;
  }

  .cover .cover-entry {
    margin-bottom: 30px;
  }

  .cover .cover-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .cover .cover-video:after {
    content: '';
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(28, 29, 37, 0.7);
  }

  .cover .cover-video img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .cover .cover-content {
    position: relative;
    z-index: 20;
  }

  .cover .hero-go-next {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transform-style: preserve-3d;
    bottom: -10px;
    padding: 40px 20px;
    color: #fff;
    backface-visibility: hidden;
    transition: opacity .35s ease .7s;
    z-index: 7;
  }

  .cover .hero-go-next .go-next-label {
    font-style: normal;
    font-size: 15.5px;
    text-align: center;
  }

  .cover .hero-go-next .the-arrow {
    top: 14px !important;
    left: 3px;
    width: 45px;
  }

  .cover .hero-go-next .the-arrow:after,
  .cover .hero-go-next .the-arrow:before {
    top: 0;
    transform: rotate(0);
  }

  .cover .hero-go-next:hover .the-arrow {
    height: 2px;
    margin-left: 5px !important;
    top: 2px !important;
    opacity: 1;
    width: 36px;
  }

  .cover .hero-go-next:hover .the-arrow:before {
    height: 2px;
    top: -3px;
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }

  .cover .hero-go-next:hover .the-arrow:after {
    height: 2px;
    top: 3px;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }


	/* ------------------------------------------------------------ *	Logo

	\* ------------------------------------------------------------ */
	.logo img {
	  height: 13rem;
	  width: 13rem;
	  cursor: pointer;
	  filter: grayscale(1) brightness(2);
	}

	/* ------------------------------------------------------------ *	Container

	\* ------------------------------------------------------------ */
	.container {
	  max-width: 1170px;
	  margin: 0 auto;
	  padding-right: 15px;
	  padding-left: 15px;
	}

	@media only screen and (max-width: 41.25em) {
	  .container {
	    padding: 0 30px !important;
	  }
	}

	@media only screen and (max-width: 25em) {
	  .container {
	    padding: 0 35px !important;
	  }
	}





	/* Section B */

	#section-b {
	  padding: 4em 1em 1em;
		background-color: #f0f0f0

	}
	.b-img{
	  position: absolute;
	  background: black;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  width: 100%;
	  height: 600px;
	  z-index: -1;
	  opacity: 0.4;
		padding: 200px;

	}





	#section-b img{
	  opacity:1;

	}

	#section-b img:hover{
	  transform: scale(1.1);
	  transition: transform .3s ease;
	  transition-property: transform;
	  transition-duration: 0.3s;
	  transition-timing-function: ease;
	  transition-delay: 0s;
	  z-index: 5;
	  opacity: 1;
	}



	@media (min-width: 700px) {
	  .grid {
	    display: grid;
	    grid-template-columns: 1fr repeat(2, minmax(auto, 45em)) 1fr;
	  }

		#section-b h1{
			grid-column: 4/1;
			text-align: center;
		}
		#section-b img {
			grid-column: 4/4;

		}
		#section-b p {
			font-size: 15px;
			padding: 10px;
			line-height: 25px;
			grid-column: 2/4;
			grid-row:4/4;
		}
		#section-b ul{
			grid-column: 4/4;
			grid-row: 4/1;
			padding-top:20px;
		}
		#section-b h2{
			grid-column: 4/4;
			grid-row: 1/4;
			margin-bottom: 60px;
			font-size: 60px;
			text-align:center;

		}
		#section-b .btn{
			grid-column: 1 /1;
			grid-row: 1/1;
		}




	/* Styling Section*/
	.section-heading {
	  text-align: center;
	  margin-top: 35px;
	  letter-spacing: 2px;
	  font-weight: 600;
	  margin-bottom: 100px;
	}

	.section-heading .heading {
	  font-size: 12px;
	  color: #b19386;
	  margin-bottom: 25px;
	}

	.section-heading .subheading {
	  color: #4a4a4a;
	  font-size: 28px;
	  font-weight: 800;
	}


	.footer {
	  background-color: #1c1d25;
	  width: 100%;
	  padding: 8% 0;
	  text-align: center;
	  /*Making it with higher brightness and removing colors*/
	  /*Container*/
	}

	.footer .logo--white {
	  filter: grayscale(1) brightness(1.5) !important;
	}

	.footer .footer-content {
	  font-size: 1.5em;
	}

	.footer .footer-content ul {
	  margin-bottom: 15px;
	}

	.footer .footer-content ul a {
	  position: relative;
	  color: #f3f3f3;
	  font-size: 1.125em;
	  padding-bottom: 4px;
	  font-weight: 600;
	  letter-spacing: 0.01em;
	  transition: color .3s;
	}

	.footer .footer-content ul a:hover {
	  color: #fff;
	}

	.footer .footer-content ul a:before,
	.footer .footer-content ul a:after {
	  content: '';
	  position: absolute;
	  left: auto;
	  right: 0;
	  bottom: 0;
	  height: 3px;
	  width: 0;
	}

	.footer .footer-content ul a:before {
	  background: #235aa6;
	  transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1) 0.15s;
	  z-index: 1;
	}

	.footer .footer-content ul a:after {
	  background: #f25757;
	  transition: all 0.25s cubic-bezier(0.694, 0.048, 0.335, 1);
	  z-index: 2;
	}

	.footer .footer-content ul a:hover:before,
	.footer .footer-content ul a:hover:after {
	  width: 100%;
	  left: 0;
	}

	.footer .footer-content ul a+a {
	  margin-left: 30px;
	}

	.footer .footer-copy {
	  color: #f3f3f3;
	  opacity: .8;
	  font-size: 0.75em;
	}

	.footer .footer-copy a {
	  color: #f3f3f3;
	}

	/*Media Query for Mobile*/
	@media only screen and (max-width: 25em) {
	  .footer {
	    padding: 8% 3%;
	  }

	  .footer .footer-content ul a+a {
	    margin-left: 12px !important;
	  }
	}



	*/
	.btn {
	  font-size: .725em;
	  letter-spacing: 3px;
	  padding: 12px 20px;
	  background-color: #f06449;
	  background: linear-gradient(270deg, #f06449, #ef3636);
	  color: #fff;
	  position: relative;
	  font-style: normal;
	  transition: all .3s;
	  overflow: visible;
	  border: none;
	  cursor: pointer;
	}

	.btn .btn-text {
	  position: relative;
	  z-index: 10;
	}

	.btn .btn-mask {
	  content: "";
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  overflow: hidden;
	}

	.btn .btn-mask:after,
	.btn .btn .btn-mask:before {
	  will-change: transform;
	}

	.btn .btn-mask:before {
	  width: 100%;
	  background-color: #1b2e63;
	  background: linear-gradient(270deg, #235aa6, #101b3b);
	  transition: -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
	  transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
	  transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s, -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
	  z-index: 1;
	}

	.btn .btn-mask:after,
	.btn .btn .btn-mask:before {
	  content: "";
	  position: absolute;
	  top: 0;
	  left: 0;
	  height: 100%;
	  -webkit-transform: translateX(-110%);
	  transform: translateX(-110%);
	}

	.btn .btn-mask:after {
	  width: 80%;
	  background-color: #26408b;
	  background: linear-gradient(270deg, #235aa6, #213777);
	  transition: -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1);
	  transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1);
	  transition: transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.6s cubic-bezier(0.694, 0.048, 0.335, 1);
	  z-index: 2;
	}

	.btn .btn-icon {
	  position: absolute;
	  top: 3px;
	  right: -25px;
	  width: 35px;
	  height: 35px;
	  -webkit-transform: translateX(0);
	  transform: translateX(0);
	  transition: -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
	  transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
	  transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
	}

	.btn .btn-icon svg {
	  width: 35px;
	  height: 35px;
	}

	.btn .btn-icon svg path {
	  fill: #484b5f;
	}

	.btn .btn-icon svg path {
	  fill: #fff;
	}

	.btn:hover .btn-mask:before {
	  transition: -webkit-transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
	  transition: transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
	  transition: transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s, -webkit-transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1) 0.05s;
	}

	.btn:hover .btn-mask:after {
	  transition: -webkit-transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1);
	  transition: transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1);
	  transition: transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.75s cubic-bezier(0.694, 0.048, 0.335, 1);
	}

	.btn:hover .btn-mask:after, .btn .btn:hover .btn-mask:before {
	  -webkit-transform: translateX(200%);
	  transform: translateX(200%);
	}

	.btn:hover .btn-icon {
	  -webkit-transform: translateX(7px);
	  transform: translateX(7px);
	}
